
<!-- <app-navbar></app-navbar> -->
<div class="menu">
<h1 class="welcometag">Welcome To E-Library</h1>
<mat-toolbar color="primary" class="mat-elevation-z8">
 <span>My App</span>
 <div class="spacer"></div>
 <!-- <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button> -->
<a mat-button>Home</a>
<a mat-button>AboutUS</a>
<a mat-button>Gallery</a>
<a mat-button routerLink="/userlogin">Login</a>
<a mat-button routerLink="/adminlogin">Admin Login</a>
</mat-toolbar>
</div>
<router-outlet></router-outlet>




