<div class="background">
    <mat-toolbar color="warn" class="mat-elevation-z4">
     
        <button type="button" mat-icon-button (click)="drawer.toggle()" color="">
          <mat-icon>menu</mat-icon>
        </button>
    
      
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <span class="material-symbols-sharp">
                supervisor_account
                </span>
         
        </button>
   
     
    
        <span>Admin Panel</span>
        <span class="example-spacer"></span>
        
    
       
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
          <mat-icon routerLink="/home"><span class="material-symbols-outlined"  >
              logout
              </span></mat-icon>
        </button>
        
       <button mat-button [matMenuTriggerFor]="afterMenu"><mat-icon>account_box</mat-icon></button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item [routerLink]="['/viewrequest']" routerLinkActive="router-link-active" >Requests</button>
      <!-- <button mat-menu-item>Item 2</button> -->
    </mat-menu>
      </mat-toolbar>
      <mat-sidenav-container class="example-container">
        <mat-sidenav #drawer mode="side" closed  class="sidenav" >
          <mat-nav-list class="links">
            <a mat-list-item [routerLink]="['/addbook']" routerLinkActive="router-link-active" >Add Book<span class="material-icons">bookmark_add</span></a>
            <a mat-list-item [routerLink]="['/viewrequest']" routerLinkActive="router-link-active" >User Requests<span class="material-symbols-rounded">book</span></a>
            <a mat-list-item [routerLink]="['/booklist']" routerLinkActive="router-link-active" >List of Books<span class="material-symbols-rounded">library_books</span></a>
         
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
      </div>

     
    <router-outlet></router-outlet>