<div class="loggedin">
<h2>Welcome to User Profile</h2>
<mat-toolbar color="warn" class="mat-elevation-z8">
 <div class="spacer"></div>
 <!-- <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button> -->
<a mat-button routerLink='/booklist'>Mybooks</a>
<a mat-button (click)="openDialog()">Request for Book</a>
<a mat-button>Book Issue Final date</a>
<a mat-button>Logout</a>
</mat-toolbar>
</div>