
    <div class="row">
        <div *ngFor="let item of mydata" class="box">
        
                <mat-card class="col-md-3">
                    <mat-card-subtitle>{{item.BookName}}</mat-card-subtitle>
                    <mat-card-title>{{item.Author}}</mat-card-title>
                    <mat-card-content>
                  
                      <p></p>
                    </mat-card-content>
                    <mat-card-actions>
                      <!-- (click)="opendialog()" -->
                      <button mat-button  routerLink="/updatedbook" ><span class="material-symbols-outlined" [routerLink]="['/update', item.id]" >edit</span></button>
                      <button mat-button (click)="deleteit(item.id)"><span class="material-symbols-outlined" >delete</span></button>
                    </mat-card-actions>
                    <mat-card-footer>
                
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
        
        
        
        
